*.cache
/iCampusManager/obj
/iCampusManager/bin
/iCampusManager/iCampusManager.csproj.user

/DesktopLib/bin/Debug/DesktopLib.dll
/DesktopLib/bin/Debug/DesktopLib.pdb
/DesktopLib/obj/Debug/DesktopLib.DetailContentImproved.resources
/DesktopLib/obj/Debug/DesktopLib.DetailContentImprovedMsg.resources
/DesktopLib/obj/Debug/DesktopLib.FindReplaceForm.resources
/DesktopLib/obj/Debug/DesktopLib.InputBox.resources
/DesktopLib/obj/Debug/DesktopLib.MultiTaskingRunner.resources
/DesktopLib/obj/Debug/DesktopLib.ShortcutHelp.resources
/DesktopLib/obj/Debug/DesktopLib.TreeNavViewBase.resources
/DesktopLib/obj/Debug/DesktopLib.XPathEvaluatorForm.resources
/DesktopLib/obj/Debug/DesktopLib.csproj.FileListAbsolute.txt
/DesktopLib/obj/Debug/DesktopLib.dll
/DesktopLib/obj/Debug/DesktopLib.pdb
/iCampusManager.v12.suo
